

.link-button {
grid-column: 1;
margin: 2.5em 0;
justify-self: center;

background-color: #262535;
color:  #7BAFEE;
border: 1px solid  #7BAFEE;
box-shadow: 0px 2px 5px 2px #7BAFEE;
padding: 0.5em 3.5em;
width: fit-content;
border-radius: 5px;

    &:hover {
    cursor: pointer;
    background-color: #7BAFEE;
    color:  #262535;
    box-shadow: none;
    transform: scale(1.1); 
    transition: transform 0.3s ease-in;
    animation: grow-then-wiggle 0.8s ease forwards;
    }

}

@keyframes grow-then-wiggle {
  0% {
    transform: scale(1) rotate(0deg);
  }

  30% {
    transform: scale(1.2) rotate(0deg);
  }

  50% {
    transform: scale(1.2) rotate(5deg);
  }

  65% {
    transform: scale(1.2) rotate(-5deg);
  }

  80% {
    transform: scale(1.2) rotate(3deg);
  }

  100% {
    transform: scale(1.2) rotate(0deg);
  }
}


