
.web-projects-section {

    grid-column: span 3;
    display: grid;
    grid-template-columns: 2.8fr 6fr;
    margin: 6em 6em 8em;
    column-gap: 2em;
    justify-self: center;


    h2 {
        grid-column: 1;
        font-size: 24px;
        background-color: #F0BA87; //$web-color
        width: 100%;
        height: 2.4em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        justify-self: center;
        margin-top: 3em;
        // width: fit-content;
    }

    .text-content {
        grid-column: 1;
        margin-top: 3em;

        h3 {
            color: #F0BA87; 
            margin-top: 2em;
            margin-bottom: 0.5em;
        }

        p {
            margin-bottom: 1em;
        }

        ul {
            list-style: none;
            margin-top: 1em;
        }
    }

    .gallery {
        grid-column: 2;
        justify-self: center;
        align-items: center;

        display: grid;
        grid-template-columns: 1fr 9fr 1fr;
        justify-items: center;
        column-gap: 1em;


        .img-container {
            grid-column: 2;
            width: 600px;
            height: 404px;
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                max-width: 100%;
            }
        }

        .fa-chevron-left {
            grid-column: 1;
        }

        .fa-chevron-right {
            grid-column: 3;
        }

        .fa-chevron-right, .fa-chevron-left {
            font-size: 42px;

            &:hover {
                cursor: pointer;
            }

        }


        .backgroundImgs {
            order: -1;
            grid-column: 2;
            margin-bottom: 5em; //hvor meget der rykkes ned så man kan se baggrundsbilledet/næste billede

            .backgroundFilter {
                background-color: #262535b9;
                width: 500px;
                height: 400px;
                max-width: 100%;
                position: absolute;
                right: 20%;
                z-index: -1;
            }
            
        img {
            width: 490px;
            max-width: 100%;
            position: absolute;
            z-index: -2;
            right: 20%;
        }
        }
        

    }
}