@use '../style/colors' as *;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');



.intro-div {
    width: 100%;
    //max-width: 40%;
    font-size: 16px;
    grid-column: 1;
    font-family: "inter Sans", sans-serif;
    font-style: italic;
    color: #dedfe0;
    font-weight: 500;
    line-height: 150%;
    // margin-left: 2em;
    margin: 3em 1em 2em;
    justify-self: center;
    

    p {
    margin: 0.6em 0;
    }

    .read-cv {
        margin-top: 1em;
        line-height: 1;
    }

    &:hover {
        scale: 1.15;
    }

    a {
        color: $cv-color; //about-color
        font-style: normal;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;

    
    &:hover {
        cursor: pointer;
    }
    }

    .fa-angle-right {
        color: $cv-color;
        font-size: 18px;
    }

}
